In [3]:
import pandas

In [6]:
df6 = pandas.read_csv("http://pythonhow.com/supermarkets.csv")

In [7]:
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")

In [8]:
dm = pandas.merge(left=df6,right=df7,on="ID")
dm

,ID,Address_x,City_x,State_x,Country_x,Name_x,Employees_x,Address_y,City_y,Country_y,Employees_y,Name_y,State_y
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,332 Hill St,San Francisco,USA,25,Super River,California 94114
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [ ]:
dm

NameError: name 'df6' is not defined

In [2]:
import geopy

In [3]:
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [4]:
from geopy.geocoders import ArcGIS

In [5]:
nom = ArcGIS()

In [8]:
n = nom.geocode("3995 23rd St,San Francisco,CA 94114")

In [9]:
n

Location(3995 23rd St, San Francisco, California, 94114, (37.75298458728149, -122.4317017142651, 0.0))

In [11]:
n.latitude

37.75298458728149

In [12]:
n.longitude

-122.4317017142651

In [13]:
type(n)

geopy.location.Location

In [15]:
import pandas

In [16]:
df = pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
df["Address"]=df["Address"]+","+df["City"]+","+df["State"]+","+df["Country"]

In [18]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [19]:
n

Location(3995 23rd St, San Francisco, California, 94114, (37.75298458728149, -122.4317017142651, 0.0))

In [21]:
df["Coorinates"] = df["Address"].apply(nom.geocode)

In [22]:
df

,ID,Address,City,State,Country,Name,Employees,Coorinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [24]:
df.Coorinates

0    (3666 21st St, San Francisco, California, 9411...
1    (735 Dolores St, San Francisco, California, 94...
2    (332 Hill St, San Francisco, California, 94114...
3    (3995 23rd St, San Francisco, California, 9411...
4    (1056 Sanchez St, San Francisco, California, 9...
5    (551 Alvarado St, San Francisco, California, 9...
Name: Coorinates, dtype: object

In [25]:
df.Coorinates[0]

Location(3666 21st St, San Francisco, California, 94114, (37.75644449321933, -122.42935314363206, 0.0))

In [26]:
df.Coorinates[0].latitude

37.75644449321933

In [33]:
df["latitude"]=df["Coorinates"].apply(lambda x:x.latitude if x!= None else None)

In [28]:
df

,ID,Address,City,State,Country,Name,Employees,Coorinates,latitude
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755641
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752985
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709

In [32]:
df["longitude"]=df["Coorinates"].apply(lambda x:x.longitude if x!= None else None)

In [34]:
df

,ID,Address,City,State,Country,Name,Employees,Coorinates,latitude,longitude
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425599
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755641,-122.428794
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752985,-122.431702
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429758
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433251